img {
  display: block;
  max-width: 100%;
  height: auto;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Syne", sans-serif;
}
button {
  font-family: "Poppins", sans-serif;
  display: flex;
  justify-content: center;
  align-items: center;
}
.navbar {
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-wrap: wrap;
  padding: 10px 20px;
  background-color: #282828;
}
.navbar-spanus {
  display: flex;
  flex-direction: row;
  gap: 10px;
  align-items: center;
}
.navbar-spanus-img{
  height: 12px;
  width: 12px;
}
.contact-now-button {
  border-color: #fe6839;
  padding: 10px 20px;
  border-radius: 50px;
  font-size: 15px;
  font-weight: 400px;
  background-color: transparent;
  width: fit-content;
  color: #f9f9f9;
  gap: 10px;
}
.right-nav {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 40px;
  flex-wrap: wrap;
}
.navlinks {
  display: flex;
  list-style: none;
  gap: 20px;
  color: #f9f9f9;
  font-weight: 400px;
  size: 20px;
  font-family: "Poppins", sans-serif;
  flex-wrap: wrap;
}
.home-vector {
  width: 12px;
  height: 12px;
  padding: 0px 10px;
}
.home-section {
  background-color: #282828;
  display: flex;
  flex-wrap: wrap;
  align-content: center;
  justify-content: space-around;
  padding: 40px 20px;
  gap: 20px;
}

.home-img {
  border-radius: 8px;
}

.home-right {
  display: flex;
  flex-direction: column;
  gap: 30px;
}

.home-title {
  font-weight: 600px;
  font-size: 50px;
  color: #e9e9e9;
}
.home-title-span {
  color: #fe6839;
}
.white-span {
  color: #e9e9e9;
}
.home-text {
  font-weight: 400px;
  font-size: 20px;
  color: #e9e9e9;
}

.about-container {
  display: flex;
  flex-direction: row;
  align-items: center;
  background-color: #eaeaea;
  justify-content: space-around;
  position: relative;
  flex-wrap: wrap;
  padding: 20px 10px;
}
.about-empty {
  border-top: #282828 solid 1px;
  width: 200px;
}
.about-container-left {
  display: flex;
  flex-direction: column;
  align-items: center;
  flex-wrap: wrap;
}
.about-container-right {
  display: flex;
  flex-direction: column;
  gap: 30px;
  justify-content: center;
  padding: 20px 30px;
}
.spanus-text {
  color: #8d8d8d;
  display: flex;
  flex-direction: row;
  gap: 10px;
}
.coached-button {
  padding: 10px 20px;
  border-radius: 30px;
  font-size: 15px;
  font-weight: 400px;
  color: black;
  gap: 10px;
  background: transparent;
  border-color: black;
  width: fit-content;
}
.cards-section {
  background-color: #f9f9f9;
}
.cards-container {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 80px;
  padding-top: 80px;
  padding-bottom: 80px;
  flex-wrap: wrap;
  justify-content: center;
}
.card-1,
.card-2,
.card-3 {
  display: flex;
  flex-direction: column;
  border: none 1px;
  justify-content: center;
  gap: 40px;
  border-radius: 20px;
  width: 224px;
  height: 274px;
  padding: 10px 10px;
}
.card-1 {
  background-color: #eaeaea;
}
.card-2 {
  background-color: #fe6839;
}
.card-1 button {
  padding: 10px 20px;
  border-radius: 30px;
  font-size: 15px;
  font-weight: 400px;
  background-color: transparent;
  gap: 10px;
  color: black;
  width: fit-content;
}
.card-2 button {
  padding: 10px 20px;
  border-radius: 30px;
  font-size: 15px;
  font-weight: 400px;
  background-color: transparent;
  gap: 10px;
  color: #f9f9f9;
  border: solid 1px #f9f9f9;
}
.card-2-logo-img {
  height: 40px;
  width: 40px;
}
.card-2-bottom {
  gap: 60px;
}
.card-3 {
  background-image: url("../images/test.svg");
  background-position: center center;
  background-size: cover;
  color: #f9f9f9;
}
.card-3-top {
  gap: 20px;
}
.card-3-top h3{
  color: #e9e9e9;
}
.card-3-empty-div {
  background-position: center center;
  border-left: #f9f9f9 solid 2px;
  height: 80px;
}
.strategies-container {
  display: flex;
  flex-direction: row;
  background-color: #eaeaea;
  align-items: center;
  justify-content: space-between;
  flex-wrap: wrap;
}
.strategies-left {
  align-content: first baseline;
  padding: 20px 20px;
}
.strategies-container p {
  color: #282828;
}
.strategies-middle {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 30px;
}
.strategies-container button {
  padding: 10px 20px;
  border-radius: 30px;
  font-size: 15px;
  font-weight: 400px;
  background-color: transparent;
  gap: 10px;
  color: black;
  border: solid 1px black;
  width: fit-content;
}
.strategies-img {
  height: 500px;
  width: 600px;
}
.performence-01-section {
  background-color: #fe6839;
}

.performence-01-container {
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-wrap: wrap;
  color: #f9f9f9;
  padding: 40px 20px;
}

.performence-01-empty-div {
  border-top: solid #f9f9f9 1px;
  width: 20%;
}
.performence-button {
  padding: 10px 20px;
  border-radius: 30px;
  font-size: 15px;
  font-weight: 400px;
  background-color: transparent;
  gap: 10px;
  color: #f9f9f9;
  border: solid 1px #f9f9f9;
}
.services-section {
  background-color: #282828;
}

.services-container {
  display: flex;
  gap: 80px;
  justify-content: center;
  flex-wrap: wrap;
}
.services-left {
  align-content: first baseline;
  justify-content: center;
  padding-top: 100px;
}
.services-middle {
  align-content: center;
  display: flex;
  flex-direction: column;
  gap: 20px;
  justify-content: center;
}
.service-head {
  color: #fe6839;
}
.services-container {
  color: #f9f9f9;
}
.services-img {
  width: 500px;
  height: 500px;
  border-radius: 20px 0px 0px 0px;
  padding: 70px 0px;
}
.expert-coaching-section {
  background-color: #e9e9e9;
}
.expert-container {
  display: flex;
  flex-direction: row;
  gap: 40px;
  justify-content: center;
  flex-wrap: wrap;
  
}
.expert-container p, h3{
  color: #282828;
}
.expert-left {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  flex-wrap: wrap;

}
.expert-left-top span {
  color: #8d8d8d;
  display: flex;
  flex-direction: row;
  gap: 10px;
}
.expert-left-bottom {
  border-top: solid 1px #282828;
  flex-wrap: wrap;
}
.expert-right {
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 40px 20px;
  gap: 30px;
  flex-wrap: wrap;
}
.expert-right-top {
  display: flex;
  flex-direction: column;
  gap: 30px;
  flex-wrap: wrap;
}
.expert-img {
  width: 800px;
  height: 400px;
}
.expert-button {
  padding: 10px 20px;
  border-radius: 30px;
  font-size: 15px;
  font-weight: 400px;
  background-color: transparent;
  gap: 10px;
  color: black;
  width: fit-content;
}
.expert-article-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 60px;
  padding: 100px 0px;
  flex-wrap: wrap;
}
.expert-article-container-1,
.expert-article-container-2{
  display: flex;
  flex-direction: row;
  justify-content: center;
  gap: 80px;
  flex-wrap: wrap;
}
.expert-article-container article {
  display: flex;
  gap: 10px;
}
.new-course-section {
  display: flex;
  flex-direction: row;
  justify-content: center;
}
.new-course-container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-self: center;

}
.new-course-container-right-top {
  display: flex;
  justify-content: space-between;
}
.top-02-img {
  width: 120px;
  height: 120px;
}
.spanus-newcourse {
  color: #e9e9e9;
  display: flex;
  flex-direction: row;
  gap: 10px;
}
.new-course-right {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  padding: 20px 20px;

  background-color: #fe6839;
}

.new-course-button {
  padding: 10px 20px;
  border-radius: 30px;
  font-size: 15px;
  font-weight: 400px;
  background-color: transparent;
  gap: 10px;
  color: #f9f9f9;
  border: solid 1px #f9f9f9;
  margin-top: 20px;
}
.benefits-container {
  display: flex;
  flex-direction: column;
  gap: 40px;
  padding: 50px;
  background-color: #e9e9e9;
}
.benefits-bottom {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  flex-wrap: wrap;
}
.benefits-01,
.benefits-02,
.benefits-03 {
  display: flex;
  flex-direction: row;
  justify-content: center;
  gap: 30px;
  flex-wrap: wrap;
}
.benefits-01-right,
.benefits-02-right,
.benefits-03-right {
  border-left: solid 1px #282828;
  padding: 10px 20px;
}
.benefits-bottom span {
  color: #fe6839;
  font-weight: 600;
  font-size: 80px;
}
.benefits-bottom p {
  color: #282828;
}
.testimonial-container {
  display: flex;
  flex-direction: row;
  gap: 120px;
  justify-content: center;
  align-items: center;
  padding: 40px 10px;
  margin: 30px;
  flex-wrap: wrap;
}
.benefits-bottom-right {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 30px;
}

.testimonial-img {
  height: 300px;
  width: 400px;
}
.testimonial-container button {
  height: 40px;
  width: 44px;
  border: 1.5px solid #282828;
  border-radius: 100px;
}
.benefits-bottom-02 {
  display: flex;
  flex-direction: row;
  gap: 10px;
}
.new-strategies-container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  background-color: #eaeaea;
  gap: 20px;
 
}
.new-strategies-img {
  width: 800px;
  height: fit-content;
}
.new-strategies-right {
  display: flex;
  flex-direction: column;
  gap: 40px;
  justify-content: center;
  padding-right: 10%;
}

.new-strategies-right-mid {
  display: flex;
  flex-direction: column;
  gap: 30px;
}
.new-strategies-container p {
  color: #282828;
}

.new-strategies-button {
  padding: 10px 20px;
  border-radius: 30px;
  font-size: 15px;
  font-weight: 400px;
  background-color: transparent;
  gap: 10px;
  color: black;
}
.news-section {
  background-color: #282828;
}
.news-section h2,
p {
  color: #f9f9f9;
}
.news-container {
  display: flex;
  flex-direction: row;
  justify-content: center;
  gap: 30px;
  padding: 40px 10px;
}
.news-left {
  border-top: solid 1px #f9f9f9;
  width: 200px;
  margin-top: 20px;
}
.news-right {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 80px;
}
.articles-container {
  display: flex;
  flex-direction: row;
  justify-content: center;
  gap: 20px;
  flex-wrap: wrap;
}
.article-01,
.article-02,
.article-03 {
  display: flex;
  flex-direction: column;
  gap: 30px;
}
.news-right button {
  height: 50px;
  width: 50px;
  border-radius: 45px;
}
.events-container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  gap: 80px;
  padding: 80px 10px;
  flex-wrap: wrap;
}
.events-container p {
  color: #282828;
}

.events-right {
  display: flex;
  flex-direction: column;
  gap: 50px;
  padding-right: 100px;
  color: #282828;
  justify-content: last baseline;
  align-content: center;
}
.events-right-01,
.events-right-02,
.events-right-03 {
  border-top: solid;
  padding: 20px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 30px;
  flex-wrap: wrap;
}
.events-container button {
  padding: 10px 20px;
  border-radius: 30px;
  font-size: 15px;
  font-weight: 400px;
  background-color: transparent;
  gap: 10px;
  color: black;
}
.events-dates {
  color: #fe6839;
  font-size: 80px;
}
.clients-section-container {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  background-color: #e9e9e9;
  padding: 50px 20px;
}
.clients-top {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  flex-wrap: wrap;
  gap: 20px;
}
.clients-top-01 {
  padding-left: 40px;
}
.clients-top-02 {
  display: flex;
  flex-direction: column;
  gap: 30px;
  padding-right: 25%;
  
}
.clients-top-02-02 {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  border-bottom: solid #282828;
  padding: 10px;
  
}
.clients-input {
  background: transparent;
  border: none;

}
.clients-bottom {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 5%;

  
}
.client-02,
.client-03,
.client-04,
.client-05 {
  max-width: 300px;
  max-height: 450px;
}
.client-01,
.client-06 {
  width: 800px;
  max-height: 450px;
}
.clients-bottom-01,
.clients-bottom-02 {
  display: flex;
  flex-direction: row;
  padding-left: 50%;
  padding-right: 50%;
  justify-content: center;
}
.performence-container {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  color: #e9e9e9;
  
}
.performence-left {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 30px;
  flex-wrap: wrap;
}
.performence-empty {
  border-top: solid #e9e9e9;
  width: 200px;
}
.performence-top {
  background-color: #fe6839;
  display: flex;
  flex-direction: row;
  gap: 30px;
  justify-content: space-evenly;
  align-items: center;
  flex-wrap: wrap;
  padding: 50px 20px;
}

.footer-container {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  padding: 40px 10px;
  background-color: #282828;
  color: #e9e9e9;
}
.footer-container p {
  font-size: 14px;
}
.footer-top {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  flex-wrap: wrap;
}
.footer-top-right {
  display: flex;
  flex-direction: row;
  padding-right: 5%;
  gap: 50px;
  flex-wrap: wrap;
}
.footer-top-right-01,
.footer-top-right-02,
.footer-top-right-03 {
  border-top: #e9e9e9 solid;
  display: inline-block;
}
.footer-bottom {
  border-top: solid;
  border-color: whitesmoke;
}
.footer-bottom p {
  font-size: 18px;
}
.footer-container h3{
  color: #e9e9e9;
}
