p {
  font-weight: 400px;
  font-size: 20px;
  color: #e9e9e9;
}
h3 {
  font-size: 25px;
  font-weight: 600;
}
h2 {
  font-size: 30px;
  font-weight: 600px;
}
img {
  max-width: 100%;
  height: auto;
  display: block; /* Ensures the image behaves as a block element */
  margin: 0 auto; /* Centers the image horizontally */
}

.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  align-self: center;
  padding: 10px 80px;
  background-color: #282828;
}
.navbar-spanus {
  display: flex;
  flex-direction: row;
  gap: 10px;
}
.navbar-home {
  display: flex;
  flex-direction: row;
  gap: 10px;
}
.contact-now-button {
  border-color: #fe6839;
  padding: 10px 20px;
  border-radius: 30px;
  font-size: 15px;
  font-weight: 400px;
  background-color: #282828;
  gap: 10px;
  color: #f9f9f9;
}
.right-nav {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 40px;
}
.navlinks {
  display: flex;
  list-style: none;
  gap: 20px;
  color: #f9f9f9;
  font-weight: 400px;
  size: 20px;
}
.home-vector {
  width: 12px;
  height: 12px;
  padding: 0px 10px;
}
.home-section {
  background-color: #282828;
}
.home-container {
  display: flex;
  flex-direction: row;
  align-content: center;
  justify-content: space-between;
  padding-top: 150px;
  flex-wrap: wrap;
}
.home-right {
  display: flex;
  flex-direction: column;
  gap: 10px;
}
.home-title-span {
  color: #fe6839;
}
.home-right-title {
  font-weight: 600px;
  font-size: 40px;
  color: #e9e9e9;
}

.about-container {
  display: flex;
  flex-direction: row;
  align-items: center;
  background-color: #eaeaea;
  justify-content: space-evenly;
}
.about-empty {
  border-top: #282828 solid;
  width: 200px;
}
.about-container-left {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.spanus-text {
  color: #8d8d8d;
  display: flex;
  flex-direction: row;
  gap: 10px;
}
.coached-button {
  padding: 10px 20px;
  border-radius: 30px;
  font-size: 15px;
  font-weight: 400px;
  color: black;
  gap: 10px;
  background: transparent;
  border-color: black;
}
.cards-section {
  background-color: #f9f9f9;
}
.cards-container {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 80px;
  padding-top: 80px;
  padding-bottom: 80px;
  flex-wrap: wrap;
  justify-content: center;
}
.card-1,
.card-2,
.card-3 {
  display: flex;
  flex-direction: column;
  border: solid;
  justify-content: center;
  gap: 40px;
  border-radius: 20px;
  width: 224px;
  height: 274px;
  padding: 10px 10px;
}
.card-1 {
  background-color: #eaeaea;
}
.card-2 {
  background-color: #fe6839;
}
.card-1 button {
  padding: 10px 20px;
  border-radius: 30px;
  font-size: 15px;
  font-weight: 400px;
  background-color: transparent;
  gap: 10px;
  color: black;
}
.card-2 button {
  padding: 10px 20px;
  border-radius: 30px;
  font-size: 15px;
  font-weight: 400px;
  background-color: transparent;
  gap: 10px;
  color: #f9f9f9;
  border: solid 1px #f9f9f9;
}
.strategies-container {
  display: flex;
  flex-direction: row;
  background-color: #eaeaea;
  align-items: center;
  justify-content: space-evenly;
  flex-wrap: wrap;
}

.strategies-list {
  list-style: none;
  gap: 30px;
}
.strategies-container button {
  padding: 10px 20px;
  border-radius: 30px;
  font-size: 15px;
  font-weight: 400px;
  background-color: transparent;
  gap: 10px;
  color: black;
  border: solid 1px black;
}
.performence-banner-section {
  background-color: #fe6839;
}
.strategies-footer-container {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  flex-wrap: wrap;
  color: #f9f9f9;
}
.performence-button {
  padding: 10px 20px;
  border-radius: 30px;
  font-size: 15px;
  font-weight: 400px;
  background-color: transparent;
  gap: 10px;
  color: #f9f9f9;
  border: solid 1px #f9f9f9;
}
.services-section {
  background-color: #282828;
}
.services-container {
  display: flex;
  gap: 40px;
  align-items: center;
  justify-content: center;
}
.services-list {
  list-style: none;
  gap: 20px;
}
.expert-coaching-section {
  background-color: #e9e9e9;
}
.expert-container {
  display: flex;
  flex-direction: row;
  gap: 40px;
  justify-content: space-between;
}

.expert-left {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
}
.expert-right {
  display: flex;
  flex-direction: column;
  gap: 40px;
}

.new-course-container {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  background-color: #fe6839;
  flex-wrap: wrap;
}
.new-course-right {
  display: flex;
  flex-direction: column;
  padding: 0px 80px;
  gap: 80px;
}

.benefits-container {
  display: flex;
  flex-direction: column;
}

.benefits-bottom {
  display: flex;
  flex-direction: row;
  gap: 120px;
  justify-content: center;
  align-items: center;
}
.benefits-bottom-right {
  gap: 80px;
}

.new-strategies-container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  background-color: #eaeaea;
}
.new-strategies-right {
  display: flex;
  flex-direction: column;
  gap: 40px;
  justify-content: center;
  padding-right: 100px;
}

.new-strategies-list {
  list-style: none;
  gap: 100px;
}
.news-section-container {
  display: flex;
  flex-direction: column;
}
.events-container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  gap: 80px;
}
.events-right {
  display: flex;
  flex-direction: column;
  gap: 50px;
  padding-right: 100px;
}
.events-right-01,
.events-right-02,
.events-right-03 {
  border-top: solid;
  padding: 20px;
}
.clients-container {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  background-color: #e9e9e9;
}
.clients-top {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
.clients-top-02 {
  display: flex;
  flex-direction: column;
  gap: 30px;
  padding-right: 25%;
}
.clients-bottom {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 5%;
}
.clients-bottom-01,
.clients-bottom-02 {
  display: flex;
  flex-direction: row;
  padding-left: 50%;
  padding-right: 50%;
}
.performence-container {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
}
.performence-top {
  background-color: #fe6839;
  display: flex;
  flex-direction: row;
  gap: 15%;
  justify-content: center;
}
.footer-container {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  padding: 40px;
  background-color: #282828;
}
.footer-top {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
.footer-top-right {
  display: flex;
  flex-direction: row;
  padding-right: 5%;
  gap: 50px;
}
.footer-bottom {
  border-top: solid;
  border-color: whitesmoke;
}
